.games {
  &-item {
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      
      .item-title {
        opacity: 1;
      }
    }

    .item-link {
      position: relative;
      color: #fff;
      text-decoration: none;
      display: inline-block;
    }

    .item-title {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      opacity: 0;
      max-width: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 12px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px;
    }
  }
}

.box {
  //background: red;
  padding: 10px;

  &:hover {
    .item-title {
      opacity: 1;
    }
  }
}