<div class="row games-filter default-gutter" (window:resize)="onResize($event)">
  <div class="form-group container-fluid">
    <input class="form-control" type="text" [placeholder]="filterPlaceholder" [(ngModel)]="filterText" />
  </div>
</div>
<div class="row games-list default-gutter bg-light"
  infiniteScroll
  [infiniteScrollDistance]="0.1"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-auto">
        <form [formGroup]="radioGroupForm">
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="filterModel">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="'popularity'"> Popularidade
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="viewers"> Visualizções
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4 col-sm-4 col-md-3 games-item box" *ngFor="let game of games | nameFilter: filterText | sortBy:radioGroupForm.value['filterModel']:order">
    <a routerLink="/game/{{game?.id}}" class="item-link rounded-top">
      <img [src]="game?.images?.medium" alt="{{game?.name}}"><br>
      <span class="eff-hover-show item-title">{{game?.name}}</span>
    </a>
  </div>
  <app-loader [buffering]="buffering" class="container-fluid"></app-loader>
</div>